[hub]
  protocol = https
[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[alias]
  co = checkout
  count   = !git shortlog -sn
  ci      = commit --verbose --no-verify
  aa      = add --all

  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

  ff = merge --ff-only
  noff = merge --no-ff
  fa = fetch --all
  b = branch

  l = "!. ~/.githelpers && pretty_git_log"
  r = !git l -30
  ra = !git r --all
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  ignorecase = false
[apply]
  whitespace = nowarn
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  autoSetupRemote = true
  default = simple
[credential]
  helper = osxkeychain
[diff]
  algorithm = histogram
  colorMoved = zebra
  renames = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[branch]
  sort = -committerdate
[pull]
  rebase = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[init]
  defaultBranch = main
[rebase]
  autosquash = true
