snippet c
console.log($1)
endsnippet

snippet d
app.debug.log($1)
endsnippet

snippet r
$1 = require('${2:$1}')
endsnippet

snippet m
module.exports = $1
endsnippet

snippet qu
document.querySelector($1)
endsnippet

snippet qua
document.querySelectorAll($1)
endsnippet
