snippet c
fmt.Printf("$0\n");
endsnippet

snippet cc
log.Println($1)
endsnippet

snippet e
logrus.WithFields(logrus.Fields{
	"err": err,
}).Error("$0")
endsnippet

snippet r
return &rye.Response{
	Err:        errors.New("$0"),
	StatusCode: http.StatusInternalServerError,
}
endsnippet
